<%= form_with method: :get, url: tag_path(@tag), local: true do |f| %>
  <div class="form-row align-items-center m-2">
    <div class="col-8"><%= f.text_field :keyword, value: params[:keyword], class: 'form-control' %></div>
    <div class="col-4"><%= f.submit '絞り込む', class: "btn btn-primary" %></div>
  </div>
<% end %>
<% (@templates || @tag.templates).each_with_index do |t, i| %>
  <% css_klass = %w(row my-2 py-2 border) %>
  <% css_klass = i%2 == 0 ? css_klass : css_klass << 'table-active'  %>
  <%= content_tag :div, class: css_klass do %>
    <div class="col-md-3 col-sm-3"><%= tweet_link_simple "#{i} - #{t.name}", t.text %></div>
    <div class="col-md-6 col-sm-9">
      <%= content_tag :div, id: "text-#{i}" do %>
      <%= t.text %>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="row float-right">
        <%= tweet_link_simple 'tで開く', t.text, { class: 'btn btn-primary btn-sm' } %>
        <%= link_to 'クリップ', 'javascript:void(0);', onclick: "clipboard('text-#{i}')", class: 'btn btn-secondary btn-sm mx-2' %>
      </div>
    </div>
  <% end %>
<% end %>
