<!DOCTYPE html>
<html>
<head>
  <title>Tewaketter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <nav class="navbar navbar-expand flex-column flex-md-row navbar-dark bg-dark">
    <%= link_to "tewaketter", "/", id: "logo", class: "navbar-brand" %>
    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'Logout', '/signout' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Twitter Login', '/auth/twitter' %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
